# App
NEXT_PUBLIC_APP_URL="http://localhost:3000"

# Better Auth
BETTER_AUTH_SECRET=""

# Google OAuth
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""

# PostgreSQL (Neon)
DATABASE_URL=""

# Set to "1" to skip env validation (e.g. for Docker builds)
# SKIP_ENV_VALIDATION=""
